extends base

//- The variable "user" and related properites are from the "locals" which has the newly queried user document assigned to req.user by authController.protect route handler function (in authController.js)

//- Use mixin to replace repeated code blocks
mixin navItem(link, itemName, iconType, isActive)
  //- If the isActive argument as true Boolean value passed in, then add side-nav--active class to "li" element
  //- The class "side-nav--active" will trigger css style
  li(class=`${isActive ? 'side-nav--active': ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${iconType}`)
        //- This itemName variable is the title of this "li" item block
      | #{itemName}

block content
  
  main.main
    
    - console.log("\x1b[33m" + '\n=== log the info of current logged-in user in account.pug (from route: /me) ===\n' + "\x1b[0m")
    - console.log(user)
    
    .user-view
      nav.user-view__menu
        
        //- ====== Nav panel for User (in unordered list with a class="side-nav")======
        ul.side-nav
          //- use mixin (use "+mixinName", ex: +navItem ) here to add new "li" element
          +navItem('#', 'SettingsTest', 'settings',true)
          +navItem('#', 'My bookings', 'briefcase')
          +navItem('#', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')

        //- ====== Nav panel for Admin ONLY! (in unordered list with a class="side-nav")======
        //- use unbuffered code hyphen "-" to use JavaScript code for if condition
        //- Use locals property "user.role" in the if statement to switch .admin-nav block
        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('#', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'map')
              +navItem('#', 'Manage bookings', 'briefcase')
                  
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          //-
          form.form.form-user-data(action='/submit-user-data' method='POST')
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__group.form__photo-upload
              img.form__user-photo(src=`img/users/${user.photo}`, alt='User photo')
              a.btn-text(href='') Choose new photo
            .form__group.right
              button.btn.btn--small.btn--green Save settings
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-settings
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green Save password
