//- This file gets basic template from base.pug by "extends" and rewrite
extends base

//- use the block with variable name "content" and rewrite the content in the block
//- and this makes overview.pug a parent file of the base.pug
block content

  main.main
    .card-container    
    
      //- Use built-in loop function "each" to loop through the tours data array and render results to html
      each tour in tours
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`img/tours/${tour.imageCover}`, alt=`${tour.name}`)
            h3.heading-tertirary
              span= tour.name

          .card__details
            h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`
            p.card__text= tour.summary
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-map-pin')
              span= tour.startLocation.description
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-calendar')
              span= tour.startDates[0].toLocaleDateString('en-us', {month: 'long',year: 'numeric'})
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-flag')
              span= `${tour.locations.length} stops` 
            .card__data
              svg.card__icon
                use(xlink:href='img/icons.svg#icon-user')
              span= `${tour.maxGroupSize} people`  

          .card__footer
            p
              span.card__footer-value= `$${tour.price} `
              //- Use "|" to create a space between two lines
              | 
              span.card__footer-text per person
            p.card__ratings
              span.card__footer-value= `${tour.ratingsAverage} `
              | 
              span.card__footer-text= `rating (${tour.ratingsQuantity}) `
            a.btn.btn--green.btn--small(href=`/tours/${tour.slug}`) Details
        
//- note: After the code "each tour in tours",
//- the rendered html in browser is like below:

//- <div class="card">
//-   <div class="card__header">
//-     <div class="card__picture">
//-       <div class="card__picture-overlay">&nbsp;</div><img class="card__picture-img" src="img/tour-1-cover.jpg" alt="Tour 1">
//-     </div>
//-     <h3 class="heading-tertirary"><span>The Forest Hiker</span></h3>
//-   </div>
//-   <div class="card__details">
//-     <h4 class="card__sub-heading">Easy 5-day tour</h4>
//-     <p class="card__text">Breathtaking hike through the Canadian Banff National Park</p>
//-     <div class="card__data"><svg class="card__icon">
//-         <use xlink:href="img/icons.svg#icon-map-pin"></use>
//-       </svg><span>Banff, Canada</span></div>
//-     <div class="card__data"><svg class="card__icon">
//-         <use xlink:href="img/icons.svg#icon-calendar"></use>
//-       </svg><span>April 2021</span></div>
//-     <div class="card__data"><svg class="card__icon">
//-         <use xlink:href="img/icons.svg#icon-flag"></use>
//-       </svg><span>3 stops</span></div>
//-     <div class="card__data"><svg class="card__icon">
//-         <use xlink:href="img/icons.svg#icon-user"></use>
//-       </svg><span>25 people</span></div>
//-   </div>
//-   <div class="card__footer">
//-     <p><span class="card__footer-value">$297</span><span class="card__footer-text">per person</span></p>
//-     <p class="card__ratings"><span class="card__footer-value">4.9</span><span class="card__footer-text">rating (21)</span></p><a class="btn btn--green btn--small" href="#">Details</a>
//-   </div>
//- </div>
